body {
    background-color: rgb(253, 253, 253);
}

#total-orders {
    background-color: #1335ca;
}

#orders-delivered {
    background-color: #1335ca;
}

#orders-pending {
    background-color: #1335ca;
}